@tailwind base;
@tailwind components;

.dark .active {
  background-color: #facc15;
  color: #404040;
}

.dark .active:hover {
  color: #262626 !important;
}

.active {
  background-color: #f43f5e;
  color: #f4f4f5;
}

.active:hover {
  color: #fafafa !important;
}

@tailwind utilities;
